<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body>
    <h1>Dear <span id="fname"></span>,</h1>
    <p>
      We are excited to welcome you to Blinx Corporation! Your account has been
      successfully created and you can now start enjoying all of the benefits
      that we have to offer.
    </p>
    <br />
    <p>
      We are here to help you every step of the way, so please don't hesitate to
      reach out if you have any questions or need assistance.
    </p>
    <p>
      To log in to your account, please visit our website at:
      <span id="url"></span> and enter your username and password.
    </p>
    <p>
      Thank you for choosing [Company Name] and we look forward to helping you
      achieve your goals.<br />
    </p>

    <p>
      Best regards,<br />
      Blinx Corporation
    </p>
  </body>
</html>
